import { AppBar, Toolbar, Typography, IconButton, Avatar, Box, Tooltip } from "@mui/material";
import {
  DarkMode,
  LightMode,
  NotificationsNone,
} from "@mui/icons-material";
import { motion } from "framer-motion";

export default function Navbar({ mode, toggleTheme }) {
  return (
    <motion.div
      initial={{ y: -70, opacity: 0 }}
      animate={{ y: 0, opacity: 1 }}
      transition={{ duration: 0.5 }}
    >
      <AppBar
        position="sticky"
        elevation={0}
        sx={{
          backdropFilter: "blur(18px)",
          background: "rgba(30,41,59,0.75)",
          borderBottom: "1px solid rgba(255,255,255,.08)",
        }}
      >
        <Toolbar>

          <Typography
            variant="h5"
            sx={{
              flexGrow: 1,
              fontWeight: "bold",
              background:
                "linear-gradient(90deg,#3B82F6,#8B5CF6)",
              WebkitBackgroundClip: "text",
              WebkitTextFillColor: "transparent",
            }}
          >
            CareerForge
          </Typography>

          <Tooltip title="Notifications">
            <IconButton color="inherit">
              <NotificationsNone />
            </IconButton>
          </Tooltip>

          <Tooltip title="Toggle Theme">
            <IconButton color="inherit" onClick={toggleTheme}>
              {mode === "dark" ? <LightMode /> : <DarkMode />}
            </IconButton>
          </Tooltip>

          <Avatar
            sx={{
              ml: 2,
              bgcolor: "#2563EB",
              cursor: "pointer",
            }}
          >
            I
          </Avatar>

        </Toolbar>
      </AppBar>
    </motion.div>
  );
}